/* Fonts from Google Fonts*/
/* Загрузил шрифты из Google Fonts, так как в файлах к практике не было некоторых начертаний. Например, Medium.
Поэтому для удобства загрузил сразу из Google Fonts. Но, через файлы также подключил, чтобы продемонстрировать, 
что могу это реализовать.*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 24px;
}

.none {
    display: none;
}

.open {
    display: flex !important;
}

.noscroll {
    overflow: hidden;
}
