@font-face {
    font-family: 'Jost';
    src: local('Jost Regular'), local('Jost-Regular'),
        url('Jost-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost SemiBold'), local('Jost-SemiBold'),
        url('Jost-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost Bold'), local('Jost-Bold'),
        url('Jost-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost ExtraBold'), local('Jost-ExtraBold'),
        url('Jost-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}